.container
{
    background-color: rgb(21, 21, 21);
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

#searchButton
{
    background-color: blue;
    
}

#notisvg
{
    border: 1px solid black;
    height : 10%;
    width : 10%;
    filter: brightness(800%);
}

#notisvg2
{
    border: 1px solid black;
    height : 10%;
    width : 10%;
    filter: brightness(800%);
}

#form1
{
    margin-top: 20px;
    height : 30px
}

#searchButton
{
    margin-top : 20px;
    height : 30px
}

