
.sidebar {
    width:20%;
    background-color: #2d2d2d;
    height: 100vh;
    padding: 20px;
    color: wheat;
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-img {
    width: 20%;
    border-radius: 10px;
}

.sidebar h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
    margin: auto;
}

.sidebar ul li {
    padding: 15px 10px;
    margin: 10%;
    margin-right: 10%;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: #202020;
    border-radius: 8px;
    display: flex;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.sidebar ul li a {
    margin-right: 15px;
}

.sidebar hr{
    color: wheat;
}

#ham{
    width: 15%;
    float: right;
    margin: 3% 0 0 8%;
}

.container
{
    background-color: rgb(21, 21, 21);
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

#searchButton
{
    background-color: blue;
    
}

#notisvg
{
    border: 1px solid black;
    height : 10%;
    width : 10%;
    filter: brightness(800%);
}

#notisvg2
{
    border: 1px solid black;
    height : 10%;
    width : 10%;
    filter: brightness(800%);
}

#form1
{
    margin-top: 20px;
    height : 30px
}

#searchButton
{
    margin-top : 20px;
    height : 30px
}

